version: "3.9"

services:
  api:
    container_name: api
    image: triggers:latest-1
    build:
      context: .
      dockerfile: ./apps/api/Dockerfile
    restart: always
    env_file:
      - ./apps/api/.env
    ports:
      - "3003:8000"
    depends_on:
      - postgres

  postgres:
    container_name: postgres
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: rahat
      POSTGRES_PASSWORD: rahat123
      POSTGRES_DB: rahat-setup
    ports:
      - "5555:5432" # host:container
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
